/*  sidebar on the left */
.sidebar {
    width: 230px;
    height: 100vh;
    background: #839e88;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    padding: 40px 24px;
}

/* logo at the top */
.logo-section h3 {
    font-weight: 800;
    font-size: 30px;
    letter-spacing: -0.5px;
    color: #1a1a1a;
}

/* section labels like OVERVIEW, MANAGEMENT */
.section-title {
    font-size: 15px;
    letter-spacing: 1px;
    color: #fafafa;
    font-weight: 750;
    margin: 20px 0 10px 12px;
}

/* each nav item */
.nav-link {
  padding: 12px 20px;
  border-radius: 10px;
  color: #1a1a1a !important;
  margin-bottom: 6px;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  transition: 0.2s;
  white-space: nowrap;
}
/* icon spacing  */
.nav-link i {
    font-size: 18px;
    margin-right: 14px;
}

/* hover state */
.nav-link:hover {
    background: rgba(0, 0, 0, 0.1);
}

/* selected nav item */
.nav-link.active {
    background: #355f3b;
    color: #fff !important;
}

/* logout button */
.logout {
  color: #1a1a1a !important;
  display: flex;
  align-items: center;
  background: transparent;
}