.place-order-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
}


.place-order-icon {
  font-size: 36px;
  color: #7a1212;
}


.place-order-desc {
  font-size: 14px;
  color: #666;
  margin: 0;
}


