/* full page wrapper */
.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background: #b9b8b8;
}


/* main login box */
.page-wrapper {
  background: #eeebeb;
  padding: 60px;
  border-radius: 16px;
  width: 95%;
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1.5px solid #ddd8d8;
}


/* left side brand section */
.brand {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  flex: 1;
}


h1 {
  font-size: 60px;
  font-weight: 800;
  color: #1a1a1a;
  margin: 0;
  line-height: 0.9;
}

.brand h1 i {
  font-size: 50px;
  margin-left: 2px;
}




.register-link {
  font-size: 20px;
  font-weight: 800;
  color: #302f2f;
  margin-top: 40px;
}


/* form card on teh right */
.card {
  background: #f8f6f6;
  padding: 40px;
  border-radius: 16px;
  width: 100%;
  max-width: 600px;
  border: 1.5px solid #ddd8d8;
  margin-left: 25px;
}


h2 {
  font-size: 32px;
  font-weight: 700;
  margin: 0;
}

h2 i {
  font-size: 28px;
  color: #7a1212;
}