<div class="page-wrapper">


  <div class="page-header">
    <h1 class="greeting">My Availability</h1>
  </div>


  <p class="error-msg" *ngIf="loadError">{{ loadError }}</p>
  <p class="loading-msg" *ngIf="loading">Loading availability...</p>


  <form (ngSubmit)="saveAvailability()" #availabilityForm="ngForm" *ngIf="!loading">
   
      <div class="orders-card">


        <!-- weekly day selection -->
        <div class="form-section">
          <h3 class="section-heading">Available Days</h3>
          <p class="section-desc">Select which days of the week you are available.</p>
          <div class="days-grid">
            <label *ngFor="let day of dayKeys" class="day-checkbox">
              <input
                type="checkbox"
                [ngModel]="availableDays[day]"
                (ngModelChange)="availableDays[day] = $event"
                [name]="'day_' + day"
              />
              <span class="day-label">{{ getDayLabel(day) }}</span>
            </label>
          </div>
        </div>


        <div class="form-actions">
          <button type="button" (click)="saveAvailability()" [disabled]="saving">
            {{ saving ? 'Saving...' : 'Save Availability' }}
          </button>
        </div>


      </div>
 
  </form>


  <!-- success message -->
  <div class="toast" *ngIf="saveMessage">
    <i class="bi bi-check-circle"></i>
    {{ saveMessage }}
  </div>


</div>



