/* page centering */
.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background: #b9b8b8;
}


/* registration box */
.page-wrapper {
  background: #eeebeb;
  padding: 60px;
  border-radius: 16px;
  width: 95%;
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1.5px solid #ddd8d8;
  position: relative;
}


/* left side */
.left-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  flex: 1;
}


h1 { color: #1a1a1a; font-size: 60px; font-weight: 800; margin: 0; line-height: 0.9; }
h1 i { font-size: 50px; margin-left: 8px; }


.left-side p { color: #302f2f; font-weight: 800; font-size: 20px; margin-top: 50px; margin-right: 30px; }


/* form card on the right */
.card {
  background: #f8f6f6;
  padding: 40px;
  border-radius: 16px;
  width: 100%;
  max-width: 600px;
  border: 1.5px solid #ddd8d8;
  margin-left: 25px;
}


h2 { color: #1a1a1a; font-size: 28px; font-weight: 700; margin: 0; display: flex; align-items: center; gap: 10px; }
h2 i { font-size: 24px; color: #7a1212; }


/* back button shown only to admin */
.left-btn button {
  position: absolute;
  top: 40px;
  left: 40px;
}


